{{ if or ((.Page.Site.Menus.main) (.show_back_menu_item)) }}
<hr />
<p>
{{ end }}

    {{ if .show_back_menu_item }}
        <a href="{{ .Page.Section | relURL }}">back</a>
        {{ if .Page.Site.Menus.main }}
            &#183;
        {{ end }}
    {{ end }}

    {{ if .Page.Site.Menus.main }}
        {{ range first 1 .Page.Site.Menus.main }}
            <a href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    
    {{ if ( gt ( len .Page.Site.Menus.main ) 1 ) }}
        {{ range after 1 .Page.Site.Menus.main }}
            &#183; 
            <a href="{{ .URL }}">
                {{ .Name }}
            </a>
        {{ end }}
    {{ end }}
    &#183; 
    <a href="{{.Page.Site.BaseURL}}">
        {{ .Page.Site.Params.homepage }}home
    </a>
{{ end }}
</p>